body {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    background-color: black;
}

#container {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    min-height: 600px;
    border: 5px solid gray;
    border-radius: 5px;
}

#display {
    display: flex;
    min-height: 100px;
    min-width: 400px;
    background-color: black;
    color: white;
    font-size: xx-large;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0 30px;
    box-sizing:border-box;
}

.row {
    display: flex;
    flex: auto;
}

button {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: xx-large;
}

#zero {
    flex: 2.16;
}

.number {
    background-color: slategray;
    color: white;
}

.gray {
    background-color: gray;
}

.operator,
#equals {
    background-color:orange;
    color: white;
}