body {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    min-height: 600px;
    border: 5px solid gray;
    border-radius: 10px;
    background-color: gray;
    padding: 10px;
}

#display {
    display: flex;
    min-height: 100px;
    min-width: 400px;
    background-color: black;
    color: white;
    font-size: xx-large;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 5px;
    padding: 0 30px;
    box-sizing:border-box;
    border-radius: 5px;;
}

.row {
    display: flex;
    flex: auto;
}

button {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: xx-large;
    margin: 5px;
    border-radius: 5px;
}

.decimal,
.number {
    background-color: #34495E;
    color: white;
}

.btn {
    background-color: #95A5A6;
}

.operator,
.equals {
    background-color: #D35400;
    color: white;
}

.btn,
.operator,
.number,
.decimal,
.equals,
.backspace {
    transition-duration: 0.3s;
}

.btn:active,
.operator:active,
.number:active,
.decimal:active,
.equals:active,
.backspace:active {
    transform: translateY(5px);
}

.number:hover,
.decimal:hover {
    background-color: #85929E;
}

.btn:hover {
    background-color: #BFC9CA;
}

.operator:hover,
.equals:hover {
    background-color: #E59866;
}

.backspace:hover {
    background-color: #D98880;
}

.backspace {
    background-color: #C0392B;
    color: white;
}